.App {
  width: 900px;
  margin: 0 auto;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  border-bottom: 2px solid #fb703f;
}
.tourisme {
    color: #fb703f;
}